/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container-app {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.div-principal {
    border: 4px solid black;
    /* width: 100vw; */
    /* height: 100vw; */
}

/* h-[90%] px-0 grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 sm:grid-rows-4 md:grid-rows-3 lg:grid-rows-4 xl:grid-rows-5 sm:h-[100%] */