/* Estilos para la tarjeta de tweet */
.tweet-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

/* Estilos para la información del usuario */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para el avatar del usuario */
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos para el nombre del usuario */
.user-info strong {
    font-weight: bold;
}

/* Estilos para el nombre de usuario */
.user-info p {
    margin: 0;
    color: #657786;
    /* Gris oscuro de Twitter */
}

/* Estilos para el contenido del tweet */
.tweet-content {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace de 'Visitar Perfil' */
.tweet-card a {
    color: #1da1f2;
    /* Azul de Twitter */
    t